
.NavBar_Formulas{
    width: 300px;
    height: 650px;
    background: linear-gradient(to bottom, #002A7C, #0f0000);
    font-family: Opens Sans;
    color: white;
    font-size: 1.3rem;
    border-radius: 5px;
    box-shadow: 2px 2px 3px gray;

}
.NavBar_Formulas a{
    color: white;
    text-decoration: none;
}
.NavBar_Formulas a:hover{
    transition: 0.5s;
    border-bottom: 1px solid white;
}
.NavBar_Formulas h2{
    text-align: center;
    
}